$bg-color: #EBF0FF; //lightblue
$theme-color: #2E39B7; //navy
$logo-width: 110px !default;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Karla:wght@300;400;700&display=swap');

body {
  background-color: $bg-color;
}

/* --- SITE HEADER--- */
.site-header {
  border-top: none;
  border-bottom: none;
}

.site-nav {
  font-family: "Inconsolata";
  font-size: 20px;
  font-weight: 500;
}

// HEADER LINKS
.trigger {
  list-style: none;
  li {
    float: left;
    color: $theme-color;
    margin-right: 15px;
  }
  li:not(:last-child){
    margin-right: 55px;
  }
}

.site-nav .page-link {
    color: $theme-color;
    // margin-right: 15px;
}

// LOGO 
.logo, .logo-active{
  width: $logo-width;
}

.logo {
  position: relative;
}

.logo-active {
  position: absolute;
  left: 30px;
  opacity: 0;
}

.site-header {
  position: relative;
  padding: 30px;
  margin-left: 0;
  margin-right: 0;
}

.site-header img.logo-active:hover {
  opacity:100;
}
// .site-header img {
//   -webkit-transition: opacity 1ms ease-in-out;
//   -moz-transition: opacity .1s ease-in-out;
//   -o-transition: opacity .1s ease-in-out;
//   transition: opacity .1s ease-in-out;
// }

/* --- ABOUT--- */
.pro-pic {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-unit;
}


/* --- SIDEWAYS TAG --- */
.sideways-tag{
  position: fixed;
  width: 150px;
  top: 100px;
  right: 0px;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  background-color: $theme-color;
  
  p {
    font-family: "Inconsolata";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.wrapper {
  margin: auto;
  max-width: 100%;
}

.post, .project {
  max-width: 65%;
  min-width: 700px;
  margin: auto;
}

.project, .post-header  {
  text-align: center; //center project title
}

.project-content {
  text-align: left;
}

/* --- BACKGROUND--- */
.page-background {
  background-color: white;
  outline: 2.5px solid $theme-color;
  color: $theme-color;
  padding: 40px 50px 15px 50px;
  //padding-bottom: 15px;
}

.project > .page-background {
  padding: 20px 40px 20px 40px;
}

/* --- POST CONTENT--- */
.page-background{
  a {
  border-bottom: 1px solid $theme-color;
  color: $theme-color
  }
  a:hover{
    text-decoration: none;
    //color: #465BF2;
    border-bottom: 2px solid $theme-color;
    }
  }

/* --- PROJECTS--- */
/* ICONS */
.project-icon {
  max-width: 20%;
  display: block;
  margin: 2em auto;
}

/* --- BLOG--- */
.coming-soon {
  text-align: center;
  //margin-bottom: 10em;
}

/* --- CONTACT--- */
textarea {
  width: 90%;
}
#name, #email {
  width: 30%;
}
input, textarea {
  border: 1px solid $theme-color;
  margin-bottom: $spacing-unit;
  padding: 5px;
  font-family: "Karla";
  color: $theme-color;
}

#contact {
  font-family: "Inconsolata";
  font-size: 16px;
  p {
    margin: 0px;
  }
}

input[type=submit] {
  color: white;
  background-color: $theme-color;
}

/* --- POST HEADINGS--- */

.post .post-header{
  margin-bottom: 0;
}
.post-title {
  font-family: "Karla";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1.5px;
  text-align: center;
}

.post-meta {
  font-family: "Inconsolata";
  font-weight: 300;
  color: $theme-color;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.page-content {
  padding-top: 0px;
}

.post-content, .project-content p {
  font-family: "Karla";
  font-size: 16px;
}

.page-title, .post-li-title, .project-title {
  font-family: "Karla";
  letter-spacing: 1.5px;
  font-weight: 300;    
}

.page-title, .project-title {
  display: inline-block;
  font-weight: 400;
  position: relative;
  text-align: center;
  color: white;
  background-color: $theme-color;
  padding: .37em .75em .37em .75em;
  margin: auto;
  margin-top: -30px;
}

.page-title-border, .project-title-border{
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid $theme-color;
  top: -10px;
  left: -10px;
  z-index: -10;
}

/* --- TAGS--- */
.tags {
  width: 95%;
  margin: auto;
  margin-bottom: 1em;

  p {
    margin: 5px 5px;
    font-family: "Inconsolata";
    font-size: 16px;
    font-weight: 400;
    color: $theme-color;
    border: 2px solid $theme-color;
    padding: .37em .75em;
    display: inline-block;
    background-color: white;
  }
}

.post .tags {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  p {
    border: 1px solid $theme-color;
    font-size: 12px;
  }
}

.proj-desc {
  border: 2px $theme-color;
  border-style: dotted;
  padding: 1em;
  font-family: "Inconsolata" !important;
  // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232E39B7FF' stroke-width='4' stroke-dasharray='2%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  //font-size: 1.1em;
  //font-weight: bold;
}

/* --- HYPERLINKS--- */
.page-link {
  line-height: 1;
}

.page-link:hover {
  text-decoration: none;
  border-bottom: 1px solid $theme-color;
  display: inline-block;
  line-height: 1.1;
}

.link-in-post{ // featured link
  text-align: center;
  margin-bottom: 1.5em;
  
  a {
    font-family: "Karla";
    text-align: center;
    color: white;
    background-color: $theme-color;
    padding: .5em;
    border-bottom: 0px;
  }

  a:hover {
    border-bottom: 0px;
    text-decoration: underline;
  }
}

/* --- CAROUSEL--- */
.carousel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 2em;
  //border: 1px solid #465BF2;
}

.carousel img {
  display: block;
  width: 100%;
}

.carousel-caption {
  font-family: "Inconsolata" !important;
  text-align: center;
  font-size: 14px !important;
  box-sizing: border-box;
  // border: 1px solid #465BF2;
  width: 80%;
  padding: 5px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: #6879fc;
}

/* VIDEO IN CAROUSEL */
.carousel-video {
  position: relative;
  width: 100%;
  height: 0;
  // overflow: hidden;
}

#RT-video{
  padding-top: 66.66%; //specific aspect ratio for Racing Thoughts
}

.carousel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FLICKITY */
.flickity-page-dots {
  display: none;
}
.flickity-prev-next-button.next {
  right: -50px !important;
}
.flickity-prev-next-button.previous {
  left: -50px !important;
}
.flickity-button{
  color: #465BF2 !important;
}
.flickity-prev-next-button {
  height: 30px !important;
  width: 30px !important;
}

.flickity-enabled.is-fullscreen {
  margin: 0px;
  .flickity-prev-next-button.next {
    right: 30px !important;
  }
  .flickity-prev-next-button.previous {
    left: 30px !important;
  }
  .flickity-prev-next-button {
    height: 44px !important;
    width: 44px !important;
  }
}



/* --- HOME--- */

.home {
  padding-right: $spacing-unit; // visually center with sideways tag
}

/* STAR */
.featured-list-heading {
  text-align: center;
  img {
    width: 1em;
  }
}

/* DIAGONAL STRIPES */
.post-li-title.coming-soon{
  margin-top: 2em;
  background: repeating-linear-gradient(
    135deg,
    #ffffff,
    #ffffff 5px,
    #f9f9fd 5px,
    #f9f9fd 10px
  )
}

.featured-list {
  margin: auto;
  padding-left: 10px; // visually center bc of the shadow on the posts
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .post-li {
    width: 33%;
  }

  .post-li-title{
    font-size: 16px;
    color: #2E39B7;
    border: 1px solid #465BF2;
    padding: .75em 0;
    box-shadow: -10px -10px #2E39B7;
    display: inline-block;
    background-color: white;
    margin-top: 1.5em;
    width: 80%;
  }

  .post-li-logline {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    color: $theme-color;
    font-size: 14px;
    padding: 1.5em;
    padding-left: 1em;
    margin-bottom: 1.5em;
  }
  
  a:visited, a:link {
    color: #2E39B7;
  }

  a:hover{
    border-bottom: 1px solid $theme-color;
    text-decoration: none;
    color: #2E39B7;
  }
}

h3 {
  margin: 0px;
}

/* --- MEDIA QUERIES--- */
@media screen and (min-width: 1400px){
  .wrapper{
    max-width: 80%;
  }

  .featured-list{
    .post-li-logline {
      padding: 1em 2em 1em 1.5em;
    }
  }

  .project-content {
    padding: 0em 1.5em;
  }

}

@media screen and (min-width: 1200px){
  //HOME
  .featured-list{
    width: 80%;
  }
}

@media screen and (max-width: 768px){

  //HOME 
  .featured-list {
    width: 100%;
    .post-li {
      width: 49%;
    }
  }

  .post-title {
    font-size: 2.25em;
  }

  .logo, .logo-active {
    width: .9*$logo-width;
  }
  
  .post, .project {
    min-width: 100%;
  }

/* --- BACKGROUND--- */
  .page-background {
    margin-left: $spacing-unit/2;
    margin-right: $spacing-unit/2;
    outline: 2px solid $theme-color;
  }

  .post-content p {
    font-size: 1em;
  }

  .post-meta {
    font-size: 1em;
  }

  .home {
    //padding-right: 0px;
    width: 100%;
    margin: auto;
  }

  .sideways-tag {
    display: none;
  }

  .project-title, .page-title {
    margin-top: $spacing-unit/2;
    font-size: 20px;
  }

  .project-icon {
    min-width: 17%;
    margin: 1.5em auto;
  }

  .tags p {
    font-size: 14px;
  }

}

@media screen and (max-width: 560px){
   
  //HOME 
   .featured-list {
     flex-direction: column;
    .post-li {
      width: 100%;
    }
    .post-li-logline{
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
  }

  .site-header {
    padding: 15px;
  }

  .logo-active {
    left: 15px;
  }

  .logo, .logo-active {
    width: .8*$logo-width;
  }

  .site-nav {
    padding-top: 10px;
  }

  .trigger {
    li {
      text-align: right;
      margin-right: 15px;
      line-height: 30px;
      float: none;
    }
    li:not(:last-child){
      margin-right: 15px;
    }
  }

  // CONTACT

  form {
    margin: 1em;
    textarea, #name, #email {
      width: 100%;
    }
  }

  .page-background {
    margin: 0px;
    padding: 15px;
  }

  .project > .page-background {
    padding: 20px;
  }
  
  .post-content p {
    font-size: 1em;
  }

  .post-meta {
    font-size: 14px;
  }
  
  .project-title, .page-title {
    font-size: 18px;
  }

  .project-icon {
    min-width: 25%;
    margin: 1.5em auto;
  }

  .tags p {
    font-size: 14px;
  }

  .pro-pic {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 425px){

  .post-title {
    font-size: 1.75em;
  }
  

}


